#fix-div{
	z-index: 1;
	width: 1903px;
	height: 58px;
	background-color: white;
	opacity: 0.97;
}
#nar-row{
	width: 1180px;
	height: 58px;
	margin: 0 auto;
}
#v510ux{
	display: none;
	float: left;
	width: 100px;
	height: 58px;
	font-size: 200%;
	font-family: "微软雅黑";
	line-height: 58px;
}
#nar-row ul{
	float: right;
	width: 250px;
	height: 58px;
}
#nar-row ul li{
	float: left;
	width: 80px;
	height: 58px;
	line-height: 58px;
	font-size: 15px;
}
#nar-b{
	width: 1180px;
	height: 60px;
	margin: 0 auto;
}
#v510ux-1{
	float: left;
	width: 100px;
	height: 58px;
	font-size: 200%;
	font-family: "微软雅黑";
	line-height: 58px;
}
#nar-b-l{
	float: right;
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
}
#kv-main{
	height: 1091px;
	background-image: url(../img/kv-main.jpg);
}
#kv-main img{
	width: 716px;
	height: 53px;
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 593px;
	
}
.slogan{
	width: 1427px;
	height: 54px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 3.4em !important;
    line-height: 1em !important;
    letter-spacing: -0.025em;
    word-spacing: 0.045em;
    color: #4b4b4b;
	text-align: center;
}
#text1{
	width: 840px;
	height: 266px;
	margin-left: 531px;
	margin-top: 30px;
	margin-bottom: 100px;
	text-align: center;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.4em !important;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
}
#img-elegant{
	height: 1012px;
	background-image: url(../img/img-elegant.jpg);
}
.subT{
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 2.6em !important;
    letter-spacing: -0.0028em;
    word-spacing: 0.015em;
    color: #4b4b4b;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
}
#text2{
	width: 800px;
	height: 104px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
.box-sort{
	width: 1903px;
	height: 20px;
	font-family: 'icon-ultralight';
    font-weight: 300;
    font-size: 1.5em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 30px;
}
#text3{
	width: 800px;
	height: 156px;
	margin: 30px auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
.box-word-cent{
	width: 1903px;
	height: 64px;
	font-family: 'icon-ultralight';
    font-size: 4em!important;
    letter-spacing: .0075em;
    color: #75534B;
    line-height: 1em;
    text-align: center;
    margin-bottom: 30px;
}
#b-w{
	width: 1903px;
	height: 123px;
	margin-bottom: 104px;
}
#b-w-1{
	float: left;
	margin-left: 425px;
	width: 283px;
	height: 123px;
}
#b-w-2{
	float: left;
	margin-left: 60px;
	width: 265px;
	height: 123px;
}
#b-w-3{
	float: left;
	margin-left: 60px;
	width: 125px;
	height: 123px;
}
#b-w-4{
	float: left;
	margin-left: 60px;
	width: 230px;
	height: 123px;
}
.icon-up{
	width: 265px;
	height: 32px;
	font-family: 'myriad-pro';
    fon-size: 2.2em !important;
    color: #75534B;
    letter-spacing: .15em;
    display: block;
    line-height: 2em;
    text-align: left;
}
.separate-icon-info{
	display: block;
    width: 100%;
    height: 8px;
    text-align: left;
}
.icon-unit{
	height: 42px;
	font-family: 'icon-ultralight';
    font-size: 2.4em!important;
    color: #a57d73;
    letter-spacing: .05em;
    vertical-align: super;
    display: inline-block;
    line-height: 1.1em;
    text-align: left;
}
.icon-number{
	height: 46px;
	font-family: 'icon-ultralight';
    font-size: 3.8em!important;
    letter-spacing: .1em;
    color: #a57d73;
    display: inline-block;
    vertical-align: super;
    line-height: .6em;

}
.icon-info{
	width: auto;
	height: 20px;
	font-family: "myriad-pro";
    fon-size: 2.2em !important;
    color: #75534B;
    letter-spacing: .1em;
    display: block;
    font-weight: 400;
}
#b-m{
	width: 1427px;
	height: 831px;
	margin: 0 auto;
	background-image: url(../img/img-performance.jpg);
}
#graphics-card{
	width: 1522px;
	height: 824px;
	margin-left: 270px;
	margin-top: 104px;
	background-image: url(../img/img-graphic.jpg);
	margin-bottom: 104px;
}
#gr-i{
	width: 300px;
	height: 218px;
	margin-left: 100px;
}
#gr-i div{
	    text-align: left;
}
.txt-left{
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.5em;
}
#back-color{
	width: 1903px;
	height: 1390px;
	background-color: #f6f6f6;
}
#interval{
	width: 1903px;
	height: 104px;
}
#screen{
	width: 1903px;
	height: 753px;
	line-height: 753px;
	text-align: center;
	overflow: hidden;
}
#s-img{
	margin-left: -968px;
	margin-top: -688px;
	transition-property: width height;
	transition-duration: 1s;
	transition-timing-function: ease;
}
#screen-b{
	width: 1903px;
	height: 395px;
}
#s-b-t{
	width: 1903px;
	height: 131px;
	margin-top: 30px;
}
#s-b-t-l{
	float: left;
	margin-left: 650px;
	width: 337px;
	height: 123px;
}
#s-b-t-r{
	float: left;
	margin-left: 70px;
	margin-top: 33px;
	width: 181px;
	height: 71px;
}
#text4{
	width: 800px;
	height: 78px;
	margin: 30px auto 104px;
	max-width: 800px;
    font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;

}
#text5{
	width: 800px;
	height: 104px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
#ips{
	width: 1903px;
	height: 106px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#ips-l{
	float: left;
	margin-left: 700px;
	width: 112px;
	height: 106px;
}
#ips-m{
	float: left;
	margin-left: 60px;
	width: 149px;
	height: 106px;
}
#ips-r{
	float: left;
	margin-left: 60px;
	width: 131px;
	height: 106px;
}
#img-color{
	width: 1903px;
	height: 911px;
	margin-bottom: 104px;
	background-image: url(../img/img-color.jpg);
}
#splendid{
	width: 1522px;
	height: 131px;
	margin: 0 auto;
	text-align: center;
}
#text6{
	width: 800px;
	height: 257px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
#sp-d{
	width: 1903px;
	height: 20px;
	margin-top: 18px;
	margin-bottom: 30px;
	text-align: center;
}
#sp-a{
	line-height: 20px;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #299ad2;
    margin-top: .9%;
}
#sp-d2{
	width: 1840px;
	height: 656px;
	margin-left: 29px;
}
.sp1{
	float: left;
	width: 456px;
	height: 656px;
	margin-left: 4px;
}
.sp-s{
	display: inline-block;
	width: 456px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.5em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: black;
}
.shadow4{
	display: none;
	position: relative;
	width: 456px;
	height: 630px;
	background-color: rgba(55,41,71,0.8);
}
.sp-img1{
	width: 456px;
	height: 630px;
	background-image: url(../img/img-splendid-normal.jpg);
}
.sp-img1:hover .shadow4{
	display: block;
}
.sp-img2{
	width: 456px;
	height: 630px;
	background-image: url(../img/img-splendid-eyecare.jpg);
}
.sp-img2:hover .shadow4{
	display: block;
}
.sp-img3{
	width: 456px;
	height: 630px;
	background-image: url(../img/img-splendid-vivid.jpg);
}
.sp-img3:hover .shadow4{
	display: block;
}
.sp-img4{
	width: 456px;
	height: 630px;
	background-image: url(../img/img-splendid-manual.jpg);
}
.sp-img4:hover .shadow4{
	display: block;
}
.signs{
	position: relative;
	left: 181px;
	top: 95px;
	width: 94px;
	height: 105px;
}
.line{
	width: 0;
	height: 130px;
	transition-property: width border-bottom-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	margin: 0 auto;
	border-bottom: 1px white solid;
}
.shadow4:hover .line{
	width: 250px;
	border-bottom-color: rgba(255,255,255,0.5);
}
.title{
	width: 456px;
	height: 40px;
	margin-top: 20px;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.8em !important;
    text-align: center;
    letter-spacing: -0.0028em;
    word-spacing: 0.015em;
    color: #fff;
    line-height: 1.4em;
}
.discript{
	/*width: 334px;
	height: 72px;*/
	width: 80%;
    margin: 5% auto 0;
    font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
}
#eye{
	width: 1903px;
	height: 327px;
	text-align: center;
}
#text7{
	width: 800px;
	height: 52px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
#eye-imgarea{
	position: relative;
	width: 1903px;
	height: 623px;
	margin-top: 60px;
}
#eye-img{
	position: relative;
	width: 1113px;
	height: 623px;
	margin: 0 auto;
	background-image: url(../img/frontview.png);
}
#screen-img{
	position: absolute;
	left: 165px;
	top: 50px;
	width: 787px;
	height: 432px;
	background-image: url(../img/inscreen_eyecare_after.jpg);
}
#screen-shadow{
	width: 787px;
	height: 432px;
	background-color: rgba(0,0,0,0);
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease;
}
#screen-shadow:hover{
	background-color: rgba(0,0,0,0.8);
}
#Eye-care-off{
	position: absolute;
	left: 364px;
    top: 314px;
	width: 153px;
	height: 52px;
    font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.3em !important;
    line-height: 1.25em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: center;
}
#Eye-care-off:hover{
    transform: scale(1.2);	
}
#Eye-care-on{
	position: absolute;
	left: 1390px;
    top: 314px;
	width: 153px;
	height: 52px;
    font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.3em !important;
    line-height: 1.25em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: center;
}
#Eye-care-on:hover{
	transform: scale(1.2);
}
#storage{
	width: 1903px;
	height: 789px;
}
#st-l{
	float: left;
	width: 513px;
	height: 300px;
	margin-left: 10%;
	text-align: left;
}
#text8{
	width: 513px;
	height: 78px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
#st-img{
	float: right;
	width: 1141px;
	height: 789px;
	text-align: right;
}
#connectspeed{
	width: 1903px;
	height: auto;
	background-color: #fafafa;
}
#cs-t{
	position: relative;
	width: 1336px;
	height: 767px;
	margin: 0 auto;
}
#cs-t-l{
	position: absolute;
	width: 399px;
	height: 590px;
	left: 27px;
	top: 73px;
}
#text9{
	width: 399px;
	height: 224px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
}
.cs-1{
	float: left;
	width: 100px;
	height: 83px;
	margin-left: 25px;
    margin-top: 22px;
    text-align: center;
}
#cs-t-r{
	float: right;
	width: 717px;
	height: 744px;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease;
}
#wifi{
	width: 1522px;
	height: 739px;
	margin: 0 auto;
}
#wifi-img{
	float: left;
	width: 1065px;
	height: 617px;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease;
}
#wifi-r{
	float: right;
	width: 411px;
	height: 663px;
	margin-top: 76px;
	text-align: left;
}
#subT1{
	text-align: left;
}
#text10{
	width: 411px;
	height: 140px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.5em;
}
#wifi-b{
	width: 411px;
	height: 155px;
}
#wifi-b-1{
	width: auto;
	height: 75px;
}
#wifi-b-2{
	width: auto;
	height: 75px;
}
.number{
	height: 28px;
	line-height: 1.5em;
    font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.2em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: left;
}
#progress{
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	float: left;
	width: 0px;
	height: 5px;
	background: #c49791;
}
#circle{
	float: left;
	width: 10px;
	height: 10px;
	margin-left: -1px;
    margin-top: -3px;
	background-color: #c49791;
	border-radius: 50%;
	box-shadow: 0 0 10px gray;
}
#progress1{
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	float: left;
	width: 0px;
	height: 5px;
	background: #9b9b9b;
}
#circle1{
	float: left;
	width: 10px;
	height: 10px;
	margin-left: -1px;
    margin-top: -3px;
	background-color: #9b9b9b;
	border-radius: 50%;
	box-shadow: 0 0 10px gray;
}
.multiple{
	float: left;
	margin-top: -8px;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    text-align: left;
    line-height: 1.5em;
}
#text11{
	width: 800px;
	height: 52px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
}
#key{
	display: inline-block;
	width: 300px;
	height: 119px;
	margin-left: 700px;
	margin-top: 30px;
}
#key-r{
	display: inline-block;
	width: 160px;
	height: 91px;
	margin-left: 45px;
	margin-top: 58px;
	vertical-align: -webkit-baseline-middle;
}
#icon-info1{
	text-align: center;
}
#dark-key{
	position: relative;
	width: 1903px;
	height: 817px;
}
#key-img-b{
	width: 1141px;
	height: 817px;
	margin: 0 auto;
	background-image: url(../img/img-keyboard.png);
}
#drak-shadow{
	position: absolute;
	left: 0;
	top: 0;
	width: 1903px;
	height: 817px;
	transition-property: background-color;
	transition-duration: 2s;
	transition-timing-function: ease;
}
#key-img-d{
	width: 1141px;
	height: 817px;
	margin: 0 auto;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease;
}
#text12{
	width: 800px;
	height: 78px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
}
#music{
	width: 1903px;
	height: auto;
	text-align: center;
}
#text13{
	width: 800px;
	height: 78px;
	margin: 0 auto;
	font-family: "myriad-pro";
    font-weight: 300;
    font-size: 1.1em !important;
    letter-spacing: 0.02em;
    word-spacing: 0.04em;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
}
#music-img{
	position: relative;
	width: 1903px;
	height: 555px;
}
#pics{
	float: left;
	margin-top: 20px;
    margin-left: 2px;
	width: 235px;
	height: 235px;
}
#sound{
	position: absolute;
	left: 437px;
	top: 0;
	widows: 1021px;
	height: 555px;
}
#product{
	width: 1180px;
	height: 360px;
	margin-left: 361px;
}
#p-l{
	float: left;
	width: 480px;
	height: 80px;
	font-family: "myriad-pro";
    font-weight: 500;
    font-size: 12px !important;
    color: #737373;
    text-align: left;
    line-height: 1.5em;
}
#p-r{
	float: left;
	margin-left: 24px;
	width: 468px;
	height: 300px;
	padding-left: 25px;
	background-color: white;
}
#p-u li{
	font-size: 13px;
	list-style: disc;
	font-family: "myriad-pro";
    font-weight: 500;
    color: #737373;
    line-height: 1.5em;
}
#totop{
	position: fixed;
	right: 10px;
	bottom: 50px;
	display: inline-block;
	width: 54px;
	height: 54px;
	border: 1px #a57d73 solid;
	border-radius: 50%;
	text-align: center;
	line-height: 54px;
}
#service{
	position: fixed;
	right: 60px;
	bottom: 0;
	display:inline-block;
	width: 176px;
	height: 30px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.8);
    line-height: 30px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
}
